# Deny access to .env file
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Deny access to files with these extensions
<FilesMatch "\.(env|config|json|lock|git|md|gitignore|gitattributes|dist)$">
    Order allow,deny
    Deny from all
</FilesMatch>